.banner {
    text-align: center;
    color: white;
    background-color: black;
    min-height: 250px;
    max-height: 300px;
    padding-top:40px;
    font-family: Consolas;
    background-image: url(/sfsites/c/resource/blue);
    background-size: cover;
    background-repeat: no-repeat;
}
.profile-pic {
    border-radius: 50%;
    border: solid 2px #0078d7;
    height: 150px;
    height:150px;
}
.social-icon{
    height: 30px;
    width: 30px;
    margin: 16px 16px 0px 0px;

}
.name{
    font-size: 45px;
    font-weight: bold;
    color:#0078d7 ;
}
.designation{
    font-size: 18px;
    font-weight: bold;
    color:white ;
}